@tailwind base;
@tailwind components;
@tailwind utilities;

/* MODE DEFAULT (LIGHT / MUHAMMADIYAH) */
body {
  background-color: #f1f5f9; /* Slate-100 */
  color: #1e293b;
  font-family: 'Inter', sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

/* MODE GELAP (CYBERPUNK / HACKER) */
.dark body {
  background-color: #0b1121;
  color: #e2e8f0;
  
  /* MOTIF GRID CYBERPUNK YANG DULU */
  background-image: 
    linear-gradient(to right, #1e293b 1px, transparent 1px),
    linear-gradient(to bottom, #1e293b 1px, transparent 1px);
  background-size: 40px 40px;
  background-attachment: fixed;
}

/* Scrollbar Keren */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
.dark ::-webkit-scrollbar-thumb {
  background: #334155;
}
.dark ::-webkit-scrollbar-thumb:hover {
  background: #475569;
}